p.flashy{
  color: #af0000;
  font-style: italic;
  font-size: 35px;
}
li.best{
  color: purple;
  font-family: cursive;
  font-size: 30px;

}
body {
  background-color: #8a5e9e;
}
h1 {
  text-align: center;
  font-size: 75px;
  font-family: cursive;
  color: #474747;
}
img.bestpicture {
  height: 400px;
}
img.hero {
  height: 300px;
}
img.head {
  height: 500px;
}
img.cherry {
  height: 400px;
}
h2 {
  text-align: center;
  font-size: 75px;
  font-family: cursive;
  color: #474747;
}
